h3 Просмотh номера
table.table.table-bordered.table-striped
    tr
        th Ид
        td {{number.id}}
    tr
        th Название
        td {{number.title}}
    tr
        th Номер
        td {{number.number}}
    tr
        th Код
        td {{number.code}}
    tr
        th Линии
        td {{number.lines}}
    tr
        th Члены
        td {{number.members}}
    tr
        th Регион
        td {{number.region}}
a.btn.btn-default(href='#/list') Вернутся